@model User

<h1 class="text-center">Deletion</h1>
<form enctype="multipart/form-data" method="post">
    <div class="flex-container">
        <div class="cardbo">
            <dl>
                <dd>
                    <div class="text-center">
                        <img src=@("~/images/" + Model.ImageName) width="250" asp-append-version="true" />
                    </div>
                </dd>
                <dt>@Html.DisplayNameFor(u => u.FullName)</dt>
                <dd>@Model.FullName</dd>
                <dt>@Html.DisplayNameFor(u => u.Age)</dt>
                <dd>@Model.Age</dd>
                <dt>@Html.DisplayNameFor(u => u.book.Name)</dt>
                <dd>@Model.book.Name</dd>
                <dt>@Html.DisplayNameFor(u => u.Email)</dt>
                <dd>@Model.Email</dd>
                <dt>@Html.DisplayNameFor(e => e.BookID)</dt>
                <dd>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.book.ID">@Model.book.Name</a>
                </dd>

            </dl>
            <div class="text-center">
                <button type="submit" class="btn btn-danger" style="color: white">Delete</button>
            </div>
            <br />
        </div>
    </div>
</form>
